<!DOCTYPE html>
<html>
  <head>
    <title>WebpackerConfiguration</title>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= yield %>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' if Rails.env.production? %>
  </body>
</html>
